__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.vscode/
results/*
!results/.gitkeep
docs/literature/pdf/Диссертация_Шайна_Е.А..pdf
docs/literature/pdf/02.-Dissertatsiya_M.-K.-CHien-_21.03.25_.pdf
paper_dorofeev_style/
/temp_codex_backup/
docs\theory\veering_bridge\migration_log.md